#map {
    height: 100%;
}

#button_container{
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 1000;
}

.buttons{
    background-color: rgb(94, 17, 97);
    color: white;
    height: 40px;
    width: 150px;
    font-size: 15px;
}